<div class="background-image-container">
    <div class="placeholder" *ngFor="let product of products" (click)="goToCart(product)">
      <div class="image-placeholder"></div>
      <div class="details-placeholder">
        <div class="name-placeholder">{{ product.productName }}</div>
        <div class="price-placeholder">{{ product.price }}</div>
        <div class="description-placeholder">{{ product.description }}</div>
      </div>
    </div>
  </div>
  
  <div class="review-container">
    <h3>Add Your Review</h3>
    <label for="stars">Stars:</label>
    <input type="number" id="stars" [(ngModel)]="review.stars" name="stars" min="0" max="5">
    <label for="comment">Comment:</label>
    <textarea id="comment" [(ngModel)]="review.comment" name="comment"></textarea>
    <button (click)="submitReview()">Submit Review</button>
  </div>
  